
# Node.js
node_modules/

/service1/node_modules/
/service2/node_modules/


npm-debug.log
yarn-error.log

# TypeScript
dist/

/service1/dist/
/service2/dist/

*.tsbuildinfo

# macOS
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.prod

/service1/.env
/service1/.env.prod
/service2/.env
/service2/.env.prod

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
