# Node.js
node_modules/

/api_service/node_modules/
/socket_service/node_modules/

npm-debug.log
yarn-error.log

# TypeScript
dist/

/api_service/dist/
/socket_service/dist/

*.tsbuildinfo

# macOS
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.prod

/api_service/.env
/api_service/.env.prod
/socket_service/.env
/socket_service/.env.prod

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
